body{
  margin:0;
}

#content{
  padding:0;
  margin-left:5%;
  margin-right:5%;
  min-height: 2000px;
  background-color:#A3FFA3;
}

#header{
  height: 90px;
  width:auto;
  background-color: #33CC33;
  text-align: center;
}

.gridster ul{
  list-style-type: none;
  margin-left:7%;
}

.gridster ul li{
  border: 1px solid black;
  background-color:#00CC00;
  text-align: center;
}
