body{
  margin:0;
}

#content{
  padding:0;
  margin-left:5%;
  margin-right:5%;
  min-height: 2000px;
  background-color:#B57651;
}

#header{
  height: auto;
  width:100%;
  text-align: center;
}

.gridster ul{
  list-style-type: none;
  margin-left:7%;
}

.gridster ul li{
  border: 1px solid black;
  background-color:#773716;
  text-align: center;
}
